@import url('https://fonts.goggleapis.com/css2?family-Poppins:wgbt@300&display-swap');

@mixin common($a,$b,$c,$d,$e){
    display:flex;
    flex-direction: $a;
    justify-content: $b;
    align-items:$c;
    width:$d;
    height:$e;
    background: $f;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    body{
        @include common(column,center,center,100%,null,null);
        min-height:100vh;
        font-family:'Poppins';
    }
}


.container{
    display: flex;
    flex-direction:column;
    width:80%;
    @media (min-width:500px){
      width:50%;
    }
    .title{
      text-align:center;
    }
    .content{
      text-align:justify;
    } 
  //   for hiding the small tick box
    input[type="checkbox"]{
      display: none;
    }
}
  
  // Style rules for the .btn class
  
.btn{
    align-self:center;
    margin:15px 0;
}
  
  // Style rules for the .box class
  
.box{
    @include common(flex,column,center,null,$scale,$scale/2,black);
    position:relative;
    border-radius:$scale/4;
    cursor:pointer;
    
  //   Style rules for the roller .ball class
    
    .ball{
      @include common(null,null,null,null,$scale/2,$scale/2,grey);
      position:absolute;
      border-radius:50%;
      border: 3px solid black;
    }
    
  //   Style rules for the .scenary(.sun, .moon) class
    
    .scenary{
      @include common(flex, row, space-between,null,null,null,null);
      padding: 5px 10px 0px 10px;
      svg{
        width:$scale/3;
      }
    }
}
  